// Font imports + weights
$barlow: "Barlow", sans-serif;
$fraunces: "Fraunces", sans-serif;

$regular: 600;
$semi-bold: 700;
$bold: 900;

// Colors
// Primaries
$soft-red: hsl(7, 99%, 70%);
$primary-yellow: hsl(51, 100%, 49%);
$desaturated-cyan: hsl(167, 40%, 24%);
$dark-blue: hsl(198, 62%, 26%);
$dark-cyan: hsl(168, 34%, 41%);

// Neurtrals
$title-blue: hsl(212, 27%, 19%);
$paragraph-blue: hsl(213, 9%, 39%);
$dark-grayblue: hsl(232, 10%, 55%);
$grayish-blue: hsl(210, 4%, 67%);

// Responsive design mixins
@mixin respond-small {
  @media (min-width: 375px) {
    @content;
  }
}

@mixin respond-large {
  @media (min-width: 1440px) {
    @content;
  }
}

// Base styles
body {
  font-size: 18px;
}
